@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  html {
    color-scheme: dark;
  }

  body {
    @apply bg-[#0b0b0b] text-white;
  }
}

/* Custom styles */
@layer components {
  .text-dark-blue {
    @apply text-[#1a365d];
  }

  .text-dark-green {
    @apply text-[#2f5233];
  }
}
