@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  font-family: "Roboto", "Open Sans", 'Helvetica Neue', 'Calibri', 'sans-serif' !important; 
}

p {
  line-height: 175%;
}

@media screen and (max-width: 756px) {
  .ethos__rocket-image {
    height: 350px !important;
  }

  .case-study__page-title {
    margin-left: 12px !important;
  }

  .case-study__blurb-box {
    width: 100% !important;
    padding: 20px !important;
  }

  .case-study__blurb-subtext {
    margin: 1em 0 !important;
  }

  .case-study__blurb-title--phone-screen {
    font-size: 24px !important;
  }
}

.block__header {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.navbar__name {
  color: white;
}

.navbar__name--resume {
  margin-left: 32px;
}

.ethos__rocket-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 750px;
  background-color: #e8e8e8;
}

.case-study__page-title {
  text-align: center;
  margin: 96px 0 48px 0;
  font-size: 40px;
}

.case-study__blurb-box {
  width: 75%;
  padding: 48px;
  text-align: center;
  border: 1px solid #CDCDCD;
  border-radius: 16px;
}

.case-study__blurb-title {
  letter-spacing: .3em;
  font-size: 36px;
  margin: .5em 0;
  font-weight: 500;
  text-transform: uppercase;
}

.case-study__blurb-subtext {
  font-size: 24px;
  margin: 1.5em 3em;
  line-height: 175%;
}

.case-study__section-title {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: .2em;
  margin: 24px 0;
}

.case-study__section-subtitle {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin: 0;
}

.case-study__text {
  font-size: 20px;
}

.case-study__text--enlarged {
  font-size: 24px;
  font-weight: 700;
}

.case-study__callout-box {
  background-color: #D9EFFF;
  display: flex;
}

.case-study__callout-box__text {
  font-size: 32px;
  font-weight: 500;
  color: #616161;
}

.case-study__callout-box__text--quoter {
  margin: 12px 0 0 0;
  color: #268AE7;
}

.footer {
  text-align: center;
}

.footer__item {
  transition: transform .3s;
  -webkit-transition: transform .3s;
}

/* COLORS */
.text-white {
  color: #ffffff;
}

.text-light-blue {
  color: #bcdcf7;
  transition: color 0.50s ease;
}

.text-dark-blue { 
  color: #48ABFF;
  transition: color 0.50s ease;
}

.text-light-green {
  color: #cafff3;
  transition: color 0.50s ease;
}

.text-dark-green {
  color: #34d2ad;
  transition: color 0.50s ease;
}

.svg-container svg {
  margin: auto;
}

.hero__image-container {
  width: 100%;
}

.hero__image-container > div {
  position: unset !important;
}

.hero__image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.hero__link {
  font-weight: 700;
  text-decoration: underline;
}
