html {
  font-family: "Roboto", "Open Sans", 'Helvetica Neue', 'Calibri', 'sans-serif' !important; 
}

.block__header {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.navbar__name {
  color: white;
}

.navbar__name--resume {
  margin-left: 32px;
}

.footer {
  text-align: center;
}

.footer__item {
  transition: transform .3s;
  -webkit-transition: transform .3s;
}

/* COLORS */
.text-white {
  color: #ffffff;
}

.text-light-blue {
  color: #bcdcf7;
  transition: color 0.50s ease;
}

.text-dark-blue { 
  color: #48ABFF;
  transition: color 0.50s ease;
}

.text-light-green {
  color: #cafff3;
  transition: color 0.50s ease;
}

.text-dark-green {
  color: #34d2ad;
  transition: color 0.50s ease;
}

.svg-container svg {
  margin: auto;
}
