@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

html {
  font-family: 'Open Sans', 'Helvetica Neue', 'Calibri', 'Lucida Grande', 'sans-serif' !important; 
}

.container {
  max-width: none;
}

.block__container {
  background-color: theme('colors.purple.650');
}

.block__header {
  color: white;
  text-align: center;
}

.block__section {
  background-color: theme('colors.purple.50');
}

/* MEDIA QUERIES */

@media only screen and (max-width: 564px) {
  .navbar__resume-button {
    display: none;
  }

  .navbar__contact-link {
    display: none;
  }
  
  .navbar__name__container {
    width: 100%;
  }

  .navbar__name {
    text-align: center;
    width: 100%;
  }

  .hero__name {
    display: none;
  }
}

/* NAVBAR */
.navbar__resume-button:hover {
  background-color: theme('colors.purple.900');
}

/* HERO */
.hero__background-image {
  background-image: url('../static/images/beach-background.png');
  height: 90vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
};

.hero__name {
  padding-left: 10em;
  height: 25%;
}

.hero__image {
  content:url('../static/images/me-two.png');
}

.hero__line {
  margin: 30px 0 30px 25%;
  width: 50%;
  text-align: center;
}

.hero__column {
  margin: auto;
}

/* ABOUT */

.about__line {
  margin: 30px 0 30px 33%;
  width: 33%;
  text-align: center;
  color: #CBCBCB;
}

/* SKILLS */
.skills__xd__image {
  content:url('../static/images/xd.png');
  height: 50px;
}

.skills__react__image {
  content:url('../static/images/react.png');
  height: 50px;
}

.skills__vertical-line {
  content:url('../static/images/line.png');
  max-width: none;
}

/* PROJEECTS */

.projects__hurt-alert {
  content:url('../static/images/hurtAlert.png');
  border-radius: 10px;
}

.projects__poke-locate {
  content:url('../static/images/pokeLocate.png');
  border-radius: 10px;
}

.projects__cocoon {
  content:url('../static/images/cocoon.png');
  border-radius: 10px;
}

.projects__item {
  transition: transform .3s;
  -webkit-transition: transform .3s;
}

.projects__item:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
}

.footer {
  opacity: 1.0;
  color: #000000;
}

/* COLORS */
.text-white {
  color: #ffffff;
}

.text-light-blue {
  color: #bcdcf7;
}

.text-light-green {
  color: #cafff3;
}

.text-purple-600 {
  color: theme('colors.purple.600');
}

.bg-purple-500 {
  background-color: theme('colors.purple.500');
}

.bg-purple-650 {
  background-color: theme('colors.purple.650');
}

.bg-purple-700 {
  background-color: theme('colors.purple.700');
}

.bg-purple-900 {
  background-color: theme('colors.purple.900');
}

/* PADDING */
.bleh {
  display: inline !important;
}

.round-15 {
  border-radius: 15px;
}

.svg-container svg {
  margin: auto;
}
